{% ckan_extends %}

{% block package_additional_info %}
  {% if pkg_dict.financial_year %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Financial Year') }}</th>
      <td class="dataset-details">{{ pkg_dict.financial_year[0] }}</td>
    </tr>
  {% endif %}

  {% if pkg_dict.province %}
    <tr>
      <th scope="row" class="dataset-label">{{ _('Province') }}</th>
      <td class="dataset-details">{{ pkg_dict.province[0] }}</td>
    </tr>
  {% endif %}

  {{ super() }}
{% endblock %}
