{% ckan_extends %}

{% block package_metadata_fields %}

<h3>Dataset classification</h3>
<p>
  These fields help us to show your dataset alongside other related datasets.
  Select all the relevant options that apply by selecting the field and then
  choosing from available values.
</p>
  <div class="control-group">
    <label class="control-label" for="field-categories">{{ _("Category") }}</label>
    <div class="controls">
      <select id="field-categories" name="categories" data-module="autocomplete" multiple>
        <option value="">(none)</option>
        {% set categories = h.categories() %}
        {% for category in categories %}
          <option value="{{ category }}" {% if category in data.get('categories', []) %}selected="selected"{% endif %}>{{ category }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-financial_year">{{ _("Financial Year") }}</label>
    <div class="controls">
      <select id="field-financial_year" name="financial_year" data-module="autocomplete" multiple>
        <option value="">(none)</option>
        {% set years = h.financial_years()|reverse %}
        {% for year in years %}
          <option value="{{ year }}" {% if year in data.get('financial_year', []) %}selected="selected"{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-sphere">{{ _("Sphere") }}</label>
    <div class="controls">
      <select id="field-sphere" name="sphere" data-module="autocomplete" multiple>
        <option value="">(none)</option>
        {% for sphere in h.spheres() %}
          <option value="{{ sphere }}" {% if sphere in data.get('sphere', []) %}selected="selected"{% endif %}>{{ sphere }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-province">{{ _("Province") }}</label>
    <div class="controls">
      <select id="field-province" name="province" data-module="autocomplete" multiple>
        <option value="">(none)</option>
        {% for province in h.provinces() %}
          <option value="{{ province }}" {% if province in data.get('province', []) %}selected="selected"{% endif %}>{{ province }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-functions">{{ _("Government Functions") }}</label>
    <div class="controls">
      <select id="field-functions" name="functions" data-module="autocomplete" multiple>
        <option value="">(none)</option>
        {% for functions in h.functions() %}
          <option value="{{ functions }}" {% if functions in data.get('functions', []) %}selected="selected"{% endif %}>{{ functions }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <hr />

  {% set user_is_sysadmin = h.check_access('sysadmin') %}

  {% block package_metadata_fields_url %}
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
      You will upload the data files on the next page. In this field you can optionally link to your web page with more information about this dataset.
    </span>
    {{ form.input('url', label=_('Source'), id='field-url', placeholder=_('https://cso.org.za/datasets/clinics.html'), value=data.url, error=errors.url, classes=['control-medium']) }}
  {% endblock %}

  {% block package_metadata_author %}
    {{ form.input('author', label=_('Author'), id='field-author', placeholder=_('Joe Bloggs'), value=data.author, error=errors.author, classes=['control-medium']) }}

    {{ form.input('author_email', label=_('Author Email'), id='field-author-email', placeholder=_('joe@example.com'), value=data.author_email, error=errors.author_email, classes=['control-medium']) }}
  {% endblock %}

  {% if user_is_sysadmin %}
    {% block package_metadata_fields_maintainer %}
      {{ form.input('maintainer', label=_('Maintainer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium']) }}

      {{ form.input('maintainer_email', label=_('Maintainer Email'), id='field-maintainer-email', placeholder=_('joe@example.com'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium']) }}
    {% endblock %}

    {% block package_metadata_fields_custom %}
      {% block custom_fields %}
        {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
      {% endblock %}
    {% endblock %}
  {% endif %}

  {% block dataset_fields %}
  {% endblock %}

{% endblock %}
