{% ckan_extends %}

{% block package_metadata_fields %}

  <div class="control-group">
    <label class="control-label" for="field-financial_year">{{ _("Financial Year") }}</label>
    <div class="controls">
      <select id="field-financial_year" name="financial_year" data-module="autocomplete">
        <option value="">(none)</option>
        {% set years = h.financial_years()|reverse %}
        {% for year in years %}
          <option value="{{ year }}" {% if year in data.get('financial_year', []) %}selected="selected"{% endif %}>{{ year }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-province">{{ _("Province") }}</label>
    <div class="controls">
      <select id="field-province" name="province" data-module="autocomplete">
        <option value="">(none)</option>
        {% for province in h.provinces() %}
          <option value="{{ province }}" {% if province in data.get('province', []) %}selected="selected"{% endif %}>{{ province }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="field-sphere">{{ _("Sphere") }}</label>
    <div class="controls">
      <select id="field-sphere" name="sphere" data-module="autocomplete">
        <option value="">(none)</option>
        {% for sphere in h.spheres() %}
          <option value="{{ sphere }}" {% if sphere in data.get('sphere', []) %}selected="selected"{% endif %}>{{ sphere }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ super() }}

{% endblock %}
