
<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="fa fa-info-circle"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>One dataset can have multiple resources</p>
    <p><b>You can upload all the files that go together to help use and understand the data as multiple resources in the dataset.</b></p>
    <p>For example, in a dataset about how government spending on a topic differs across the country, you might upload a <em>PDF</em> file which contains a report; an <em>Excel Spreadsheet</em> which contains tables in the report; a <em>CSV</em> file with the raw data for further analysis; a <em>shapefile</em> showing monitoring stations on the map; and any other data that others might find useful.</p>
  </div>
</section>
