{% ckan_extends %}

{% block package_description %}
    {% if pkg.private %}
      <span class="dataset-private label label-inverse pull-right">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      <br />
      <div>
        Your dataset is Private and not accessible to the public yet. Find or add your organisation to make your dataset public.
        <a href="/organization" class="organisation-cta-button">Find or add your organisation</a>
      </div>
    {% endif %}
    <h1>
      {% block page_heading %}
        {{ h.dataset_display_name(pkg) }}
        {% if pkg.state.startswith('draft') %}
          [{{ _('Draft') }}]
        {% endif %}
        {% if pkg.state == 'deleted' %}
          [{{ _('Deleted') }}]
        {% endif %}
      {% endblock %}
    </h1>

      {% block package_notes %}
      {% if pkg.notes_short %}
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes_short')) }}
        </div>
      {% endif %}

      {% if pkg.notes %}
        <h2>About this Dataset</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
        </div>
      {% endif %}

      {% if pkg.methodology %}
        <h2>Methodology Used in Gathering and Analysis</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'methodology')) }}
        </div>
      {% endif %}

      {% if pkg.key_points %}
        <h2>Key points</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'key_points')) }}
        </div>
      {% endif %}

      {% if pkg.importance %}
        <h2>Why is it important?</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'importance')) }}
        </div>
      {% endif %}

      {% if pkg.use_for %}
        <h2>What can it be used for?</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'use_for')) }}
        </div>
      {% endif %}

      {% if pkg.usage %}
        <h2>How can it be accessed and used?</h2>
        <div class="notes embedded-content">
          {{ h.render_markdown(h.get_translated(pkg, 'usage')) }}
        </div>
      {% endif %}

      {% endblock %}
{% endblock %}
