$green: #79b43c;

/* ckan overrides */
body {
  background: white;
}

a {
  color: $green;
}

a:hover,
a:focus {
  color: darken($green, 20%);
}

.account-masthead {
  color: #333;
  background: white;
}

.account-masthead .account ul li {
  border: 0px;

  a {
    color: #333;

    &:hover {
      color: #333;
      background-color: #ccc;
    }
  }
}

.account-masthead .account .notifications a span.badge {
  background-color: $green;
  color: white;
}

.masthead {
  background: white;
  color: #333;
  border-bottom: 5px solid #3f3f3f;

  a {
    color: #333;
  }

  input[type="text"] {
    border-color: $green;
  }
}

.masthead .nav > li > a,
.masthead .nav > li > a:focus,
.masthead .nav > li > a:hover,
.masthead .nav > .active > a,
.masthead .nav > .active > a:hover,
.masthead .nav > .active > a:focus {
  color: #333;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li.active a {
  background-color: #3f3f3f;
  color: white;
}

.masthead .debug {
  color: rgba(0, 0, 0, 0.5);
}


.site-footer {
  background: white;
  border-top: 5px solid #3f3f3f;

  a {
    color: #79b43c;
  }

  .logos {
    img {
      width: auto;
      height: 75px;
      margin-bottom: 20px;
      margin-right: 30px;
    }
  }

  .vm-logo {
    margin-bottom: 20px;
    height: 75px;
    width: auto;
  }
}

.site-footer,
.site-footer label,
.site-footer small {
  color: #333;
}

.attribution .ckan-footer-logo {
  background-color: #333;
}

.homepage .module-search .module-content {
  background-color: #3f3f3f;
}

// dataset page lefthand bar
.context-info .nums dl {
  dt {
    margin-top: 10px;

    &:first-child {
      margin-top: 0px;
    }
  }

  dd {
    font-size: 26px;
  }
}


// hero on homepage
[role=main] {
  min-height: 250px;
}
