.satreasury-masthead {
  background-color: white;
  padding: 5px 0px;

  img.treasury-logo {
    height: 70px;
    width: auto;
  }
   
  img.sa-flag {
    width: 40px;
    height: auto;
    margin-top: 20px;
  }
}

.site-footer {
  a {
    color: white;
  }

  .openup-logo {
    height: 60px;
    width: auto;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
  }
}
