{% ckan_extends %}

    {% block meta %}
      {{ super() }}
      <meta http-equiv="Content-Security-Policy"
            content="default-src 'self';
                     style-src 'self';
                     script-src 'self'
                                https://www.google-analytics.com
                                https://www.youtube.com
                                https://bam.nr-data.net
                                https://i.ytimg.com
                                https://fonts.gstatic.com
                                'sha256-Z8zntNsrPdLcHzAA3dTcxgPG/0z9aMphFT0OgEI9NyU='
                                'sha256-mtMLyijtipS3K5breIQL20Lvun2UQxDm4AcZAuNRDqg='
                                'sha256-whe0wKbJ7tv4Xpr1z80XaXa5mwbnipoSbdm4QId9gmg=';
                     frame-src https://www.youtube.com
                               https://docs.google.com
                               https://openspending.org;
                     img-src 'self'
                             http://gravatar.com
                             https://gravatar.com
                             https://www.google-analytics.com
                             http://s3-eu-west-1.amazonaws.com;

                    " />

       {# Google Analytics 'sha256-Z8zntNsrPdLcHzAA3dTcxgPG/0z9aMphFT0OgEI9NyU=' #}
       {# Some Javascript test: 'sha256-mtMLyijtipS3K5breIQL20Lvun2UQxDm4AcZAuNRDqg=' #}

    {% endblock %}

    {% block styles %}
      {{ super() }}
      {% resource 'satreasury/satreasury.css' %}
    {% endblock %}

    {% block bodytag %}
      data-site-root="{{ h.url_for('/', locale='default', qualified=true) }}"
      data-locale-root="{{ h.url_for('/', qualified=true) }}"
      data-satreasury-path="{{ request.path }}"
    {% endblock %}
