{% ckan_extends %}

{% block footer_links %}
  <li>This datastore powers the <a href="https://vulekamali.gov.za">vulekamali.gov.za</a> website.</li>
  <li>&nbsp;</li>
  <li><a href="https://vulekamali.gov.za/2017-18/about">About vulekamali</a></li>
  <li><a href="http://www.treasury.gov.za">National Treasury</a></li>
{% endblock %}


{% block footer_links_ckan %}
  {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
  <li>&nbsp;</li>
  <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
{% endblock %}


{% block footer_lang %}
{% endblock %}
