<div role="main" class="hero">
  <div class="container">
    {% block search %}
      <div class="module module-search module-narrow module-shallow box">
        <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
          <h3 class="heading">{{ _("Search data") }}</h3>
          <div class="search-input control-group search-giant">
            <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}eg. environmental{% endblock %}" />
            <button type="submit">
              <i class="fa fa-search"></i>
              <span>{{ _('Search') }}</span>
            </button>
          </div>
        </form>
      </div>
    {% endblock %}
  </div>
</div>
<div role="main">
  <div class="container">

    <div class="box">
      <header class="module-heading">
        <h3>About the vulekamali datastore and API</h3>
      </header>
      <div class="module-content">
        <p>This is a CKAN data portal that hosts the data on the <a href="https://vulekamali.gov.za">vulekamali Budget Data Portal</a>.</p>

        <p>Use the <b>vulekamali CKAN API</b> to access the data in the datastore:</p>
        <p>
        <ul>
          <li><b>Structured Estimates of National Expenditure</b> that you can explore with the OpenSpending API.</li>
          <li><b>PDF documents and Excel spreadsheets</b> that users can download and work with offline.</li>
        </ul>
      </div>
    </div>

    <br>

    <div class="box">
      <header class="module-heading">
        <h3>Structured Datasets</h3>
      </header>
      <div class="module-content">
        <p><i>These datesets are available to download as Excel pivot tables and to query directly using the OpenSpending API.</i></p>

        <div class="row-fluid">
          <div class="span6">
            <h2>Estimates of National Expenditure</h2>

            <p>Use the Estimates of National Expenditure (ENE) pivot tables and API to help users understand budget allocation to national departments.</p>

            <ul>
              <li><a href="/dataset/estimates-of-national-expenditure-2018-19">ENE for 2018-19</a></li>
              <li><a href="/dataset/estimates-of-national-expenditure-2017-18">ENE for 2017-18</a></li>
              <li><a href="/dataset/estimates-of-national-expenditure-2016-17">ENE for 2016-17</a></li>
            </ul>
          </div>

          <div class="span6">
            <h2>Estimates of Provincial Expenditure</h2>

            <p>Use the Estimates of Provincial Revenue and Expenditure (EPRE) pivot tables and API to help users understand budget allocation to provincial departments.</p>

            <ul>
              <li><a href="/dataset/estimates-of-provincial-expenditure-2017-18">ENE for 2017-18</a></li>
              <li><a href="/dataset/estimates-of-provincial-expenditure-2016-17">ENE for 2016-17</a></li>
              <li><a href="/dataset/estimates-of-provincial-expenditure-2015-16">ENE for 2015-16</a></li>
            </ul>

          </div>
        </div>

        <p><a href="/about" class="btn btn-primary">vulekamali API Docs</a></p>

      </div>
    </div>

    <br>

    <div class="row">
      <div class="span6">
        <div class="box">
          <header class="module-heading">
            <h3>What is vulekamali?</h3>
          </header>
          <div class="module-content">
            <p>vulekamali is a partnership between <a href="http://www.treasury.gov.za/">National Treasury</a> and <a href="http://imaliyethu.org.za/">Imali Yethu</a> to make South Africa's National and Provincial budget data more accessible. <a href="https://vulekamali.gov.za/2017-18/about">Read more about vulekamali</a> or <a href="https://www.youtube.com/watch?v=zFalZt862hk">watch the video</a>.</p>
            <p><a href="https://vulekamali.gov.za">Visit the vulekamali Budget Portal</a></p>
            <iframe width="100%" height="230" src="https://www.youtube.com/embed/zFalZt862hk?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="span6 col1">
        <div class="box">
          <header class="module-heading">
            <h3>Browse datasets by Financial Year</h3>
          </header>
          <div class="module-content">
            <ul class="unstyled">
              {% set years = h.active_financial_years()|reverse %}
              {% for year in years %}
              <li>{% link_for year, controller='package', action='search', vocab_financial_years=year %}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <br>

        <div class="box">
          <header class="module-heading">
            <h3>Browse datasets by Province</h3>
          </header>
          <div class="module-content">
            <ul class="unstyled">
              {% for province in h.provinces() %}
              <li>{% link_for province, controller='package', action='search', vocab_provinces=province %}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        {% for function in h.functions() %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
